nav ul{
    display: flex;
}
nav ul li {
    margin: 10px;
    list-style-type: none;
}
fieldset {
    width: 50%;
    display: flex;
    justify-content: space-between;
    background-color: gray;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}