<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/style.css') }}">
        <title>{% block title %}Base Title{% endblock %}</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('address_book') }}">Addresses</a></li>
                <li><a href="{{ url_for('note_book') }}">Notes</a></li>
            </ul>
        </nav>
        
        <h1>{% block header %}Base Header{% endblock %}</h1>
        
        <div id="content">
            {% block content %}{% endblock%}
        </div>      
        {% with msgs = get_flashed_messages(with_categories=true) %}
            {% for category, msg in msgs %}
                <div class="{{category}}">
                    <p>{{msg}}</p>
                </div>    
            {% endfor %}
        {% endwith %}
    </body>
</html>