{% extends 'base.html' %}

{% block title %}
    Specific Address
{% endblock %}

{% block header %}
    Specific Address
{% endblock %}

{% block content %}
    <ul>
        <li>Name: {{address.name}}</li>
        <li>Street: {{address.street}}</li>
        <li>City: {{address.city}}</li>
        <li>Province: {{address.province}}</li>
    </ul>
    <ul>
        {% for note in notes %}
            <li>{{note.str()}}</li>
        {% endfor %}
    </ul>
{% endblock %}
